<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>heyy</title>
      <link rel="stylesheet" href="./styles.css">
   </head>
   <body>
      <h1>Hey im a mustache</h1>
      <form method="/post" action"/">
        <input type="text" id="todo"/>
        <button id="submit" type="submit">Add Todo</button>
      </form>
      <div class="incomplete">


      </div>
      <div class="complete">
      </div>
      <script type="text/javascript" src='./main.js'>
      </script>
   </body>
</html>
